$base-spacing: 1rem;
$base-radius: 0.25rem;

$black-color: #2f3640;
$gray-color: #7f8fa6;
$light-gray-color: #ececec;
$primary-color: #0097e6;
$danger-color: #ff2a2a;
$success-color: #44bd32;

$sm-size: 576px;
$md-size: 768px;
$lg-size: 992px;
$xl-size: 1200px;