@import "@/assets/css/var/_variables";
@import "@/assets/css/var/_mixins";

.text-input {
	width: 100%;

	.text-input_label {
		font-weight: 500;
		margin-bottom: #{$base-spacing * 0.5};
		color: #{$black-color};
	}

	.text-input_container {
		@include input-container-base;

		input.text-input_control {
			@include text-input-base;
		}
	}
}